<div class="card">
    <div id="main-desc" (click)="isOpen = !isOpen"><p>{{ card.type }} {{ card.name }}</p></div>
    <div>
        <app-description-animal [card]="card" *ngIf="isOpen"></app-description-animal>
    </div>
</div>

