.animals {
    padding-top: 10px;
    padding-bottom: 10px;
}
.animals_ul {
    list-style: none;
    font-size: 35px;
    width: 100%;
}
.animals a {
    text-decoration: none;
}
.animals a.text:active,
.animals a.text:hover,
.animals a.text {
    text-decoration: none;
}

.card {
    margin: 20px;
    text-align: center;
    background: linear-gradient(135deg, #230672, #4479D4, #E065BB);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
}

.card p {
        padding: 10px 0;
        text-align: center;
    }

.card:hover {
    transform: scale(1.1);
}