* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffff;
    background-color: grey;
}

main {
    padding: 20px 20px;
}

button {
    cursor: pointer;
    width: 23%;
    height: 7vh;
    background-color: #060606;
    color: #ffff;
    font-size: 20px;
    border: none;
}

.calculator {
    width: 25vw;
    height: 64vh;
    background-color: #1f1f1f;
}

.div-input {
    width: 90%;
    height: 15%;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

.input {
    border-width: 2px;
    border-color: #ffff;
    background-color: #1f1f1f;
    width: 100%;
    height: 100%;
    color: #ffff;
    font-size: 40px;
    padding: 0 5%;
    text-align: right;
}

.buttons {
    width: 100%;
    height: 100%;
}

.operation {
    background-color: #131313;
}

button:hover {
    background-color: #484848;
}

.equal {
    background-color: #255166;
}

.equal:hover {
    background-color: #278aba;
}

.string {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}