.about-us-sec {
    padding: 20px 0;
    padding-bottom: 40px;
    width: 100%;
}

.about-us {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about-us__testimonial {
    padding: 10px 0;
}
.about-us__testimonial__h {
    text-align: center;
    padding: 0 0 30px;
    font-size: 25px;
}
.about-us__testimonial__quote {
    width: 30vw;
}
.about-us__testimonial__quote__num-1 {
    padding-bottom: 80px;
}

.about-us__testimonial__quote__num-1 p {
    padding-bottom: 20px;
}

.about-us__testimonial__quote__num-2 {
    background-color: var(--grey);
    border-radius: 2%;
    padding: 20px;
}

.about-us__testimonial__quote__num-2 p {
    color: var(--red);
    padding-bottom: 20px;
}

.about-us__gallery {
    padding: 10px 0;
}
.about-us__gallery__h {
    font-size: 25px;
    text-align: center;
    color: var(--red);
    padding: 0 0 30px;
    transform: translateX(-10vw);
    
}

.about-us__galery__photo img{
    width: 56vw;
    height: 55vh;
    transform: translateY(-10px);
    transform: translateX(-2vw);
}