footer {
    background: var(--black);
    height: 15vh;
    width: 100%;
}

.footer {
    height: 100%;
    text-align: center;
    width: 75vw;
    margin: 0 auto;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__rights span {
    color: var(--red);
}

.footer__logo {
    font-size: 40px;
    color: var(--red);
}