:root {
    --red: #d02d1f;
    --black: #130e27;
    --grey: #eeeeee;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

h1, h2 {
    text-transform: uppercase;
}

main {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: var(--white);
}

header {
    background-color: var(--red);
}

.header__links-bar {
    display: flex;
    justify-content: space-between;
}

.header__links__links-bar__logo {
    font-size: 50px;
    color: var(--white);
    padding: 2vh 5vh;
}

.nav-btn {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 5vh 15vh;
    width: 50vh;
}
.nav-btn_li_btn {
    background: none;
    border: none;
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
}
.black {
    background-color: var(--black);
    padding: 2px 8px;
    border-radius: 8%;
}
.header__main-block {
    position: relative;
    width: 75vw;
    margin: 0 auto;
    padding-top: 40px;
}

.header__main-block__description {
    color: var(--white);
}

.header__main-block__description h1{
    font-size: 70px;
}

.header__main-block__description p {
    padding-top: 40px;
    padding-bottom: 80px;
    font-style: italic;
    color: var(--grey);
    font-size: 14px;
    width: 400px;
}

.header__main-block__description span {
    color: var(--black);
}

.header__main-block__form {
    position: absolute;
    width: 20vw;
    background: var(--white);
    height: 56vh;
    top: 80px;
    right: 0;
    box-shadow: 0px 3px 10px 3px rgba(34, 60, 80, 0.38);
}
.form__h h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}
.form__name {
    margin: 0 auto;
}
.form__name__input{
    padding: 6px 0;
    height: 6vh;
    text-align: center;
}
.form__name__input input,
.form__name__input textarea {
    padding: 4px;
    height: 80%;
    width: 90%;
    background-color: var(--grey);
    border: none;
    border-radius: 5%;
}

.form__name__input .required {
    border: 2px solid #1E90FF;
}

.form__name__checkbox {
    padding: 6px 0;
    text-align: center;
}

.form__name__checkbox label {
    font-size: 19px;
    font-weight: 500;
}

.form__name__submit {
    padding: 6px 0;
    text-align: center;
}

.form__name__submit input {
    cursor: pointer;
    width: 18vw;
    height: 6vh;
    border: none;
    background-color: var(--red);
    color: var(--grey)
}

.form__name__submit input:disabled {
    cursor: auto;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}