.our-story {
    width: 100%;
    background-color: var(--black);
    height: 10vh;
}

.our-story__flex {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    height: 100%;
    margin: 0 auto;
}

.story__text-block {
    align-self: center;
    color: var(--grey);
    font-size: 16px;
    font-weight: 200;
}

.story__btn-block {
    align-self: center;
}

.story__btn-block__btn {
    text-transform: uppercase;
    background-color: var(--red);
    color: var(--grey);
    border-radius: 2%;
    width: 12vw;
    height: 6vh;
    border: none;
}
