.price-sec {
    width: 100%;
    background-color: var(--grey);
    height: 60vh;
}

.pricing {
    width: 75vw;
    margin: 0 auto;
    padding: 50px 0 0 50px;
}
.pricing__h {
    text-align: center;
    padding-bottom: 24px;
}
.pricing__price-block {
    display: flex;
    justify-content: space-between;
}
.pricing__price-block__price {
    background-color: var(--white);
    width: 15vw;
    box-shadow: 0px 3px 10px 3px rgba(34, 60, 80, 0.38);;
}
.sub {
    height: 40vh;
}
.sub__h {
    text-align: center;
    padding: 10px 0;
}
.sub__price {
    padding-bottom: 14px;
    font-size: 34px;
    font-weight: 600;
    color: var(--red);
    text-align: center;
}
.sub__list {
    text-align: center;
    padding-bottom: 20px;
}

.sub__list ul li {
    font-size: 14px;
    padding-bottom: 10px;
}

.sub__ord-btn {
    text-align: center;
}

.sub__ord-btn button {
    background-color: var(--black);
    color: var(--grey);
    border: none;
    width: 55%;
    height: 34px;
}
.btn-red button{
    background-color: var(--red);
}