.services {
    width: 75vw;
    margin: 0 auto;
}
.services__h {
    padding: 20px 0 60px 0;

}

.services__h span {
    color: var(--red)
}

.services__img-block {
    display: flex;
    justify-content: space-between;
}

.services__img-block__picture {
    padding-bottom: 50px;
}

.services__img-block__picture img {
    width: 150px;
    height: 150px;
}

.services__img-block__picture p {
    text-align: center;
    font-size: 16px;
}