body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.btn {
    cursor: pointer;
    background: none;
    border: none;
    width: 25vw;
    height: 10vh;
    border-radius: 48%;
    color: black;
    font-size: 20px;
    background-color: #7777;
}