.form {
    width: 300px;
    background: linear-gradient(135deg, #230672, #4479D4, #E065BB);
    border-radius: 20%;
    text-align: center;
    padding: 24px;

    &__form-group {
        padding: 10px;
        display: flex;
        justify-content: flex-end;

        & label {
            flex: 2;
        }

        &-input {
            padding: 6px;
            border: none;
            background-color: #DCDCDC;
            border-radius: 10px;
            flex: 1;
        }
    }

    &__btn {
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        background-color: #00FF00;
    }

    &__btn:disabled {
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        background-color: #d3d3d3;
    }
}

input.ng-touched.ng-invalid {
    border-left: solid;
    border-width: 5px;
    border-left-color: red;
}

