<h1>Edit the description!</h1>
<form class="form" [formGroup]="formValue">
    <div class="form__form-group">
        <label for="name">Name:</label>
        <input formControlName="name" class="form__form-group-input" type="text" name="name" id="name">
    </div>
    <div class="form__form-group">
        <label for="type">Type:</label>
        <input formControlName="type" class="form__form-group-input" type="text" name="type" id="type">
    </div>
    <div class="form__form-group">
        <label for="color">Color:</label>
        <input formControlName="color" class="form__form-group-input" type="text" name="color" id="color">
    </div>
    <div class="form__form-group">
        <label for="age">Age:</label>
        <input formControlName="age" class="form__form-group-input" type="text" name="age" id="age">
    </div>
    <div class="form__form-group">
        <label for="breed">Breed:</label>
        <input formControlName="breed" class="form__form-group-input" type="text" name="breed" id="breed">
    </div>
    <div class="form__form-group">
        <label for="gender">Gender:</label>
        <input formControlName="gender" class="form__form-group-input" type="text" name="gender" id="gender">
    </div>
    <button
     class="form__btn"
     type="submit"
     [disabled]="!formValue.valid"
     (click)="updateAnimal()">Save information</button>
</form>