.card {
    margin: 20px;
    width: 150px;
    text-align: center;
    background: linear-gradient(135deg, #230672, #4479D4, #E065BB);
    border-radius: 20px;

    & p {
        padding: 10px 0;
        background-color: #0B61A4;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.card:hover {
    transform: scale(1.1);
}
