.theme-btn {
    border-radius: 7px;
    border-style: none;
    padding: 7px;
    margin: 10px;
    font-size: 20px;
    position: absolute;
    left: 160px;
    width: 150px;
    height: 40px;
}
.header {
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
}
.header h1 {
    font-size: 50px;
    text-align: center;
}