<ul class="card__list">
    <li>
        <div class="card__list__change">
            <button class="card__list__change__btn-edit" 
                [routerLink]="['pet', card.id]" 
                routerLinkActive="active"
                (click)="edit(card)">Edit
            </button>
            <button class="card__list__change__btn-delete"
                id="delete-button"
                (click)="deleteAnimal(card.id)">Delete
            </button>
        </div>
</li>
    <li>Name:   {{ card.name }}</li>
    <li>Type:   {{ card.type }}</li>
    <li>Color:  {{ card.color }}</li>
    <li>Age:    {{ card.age }}</li>
    <li>Breed:  {{ card.breed }}</li>
    <li>Gender: {{ card.gender }}</li>
</ul>
