.btn {
    border: none;
    width: 60px;
    height: 30px;
    font-size: 16px;
    background-color: #E667AF;
}

.card__list {
    list-style: none;
    text-align: center;
    
    & li {
        padding-bottom: 8px;
    }

    & li:first-child {
        padding-top: 20px;
    }

    &__change {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        &__btn-edit {
            .btn;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &__btn-delete {
            .btn;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
}