<form class="form">
    <div class="form__form-group">
        <label for="name">Name:</label>
        <input class="form__form-group-input" type="text" name="name" id="name-input"
         [(ngModel)]="newCard.name"
         #name="ngModel"
         [ngClass]="{invalid: (name.invalid && (name.dirty || name.touched)) && (name.errors?.['required'] || name.errors?.['minlength'])}"
         minlength="3"
         maxlength="10"
         required>
    </div>
    <div class="form__form-group">
        <label for="type">Type:</label>
        <input class="form__form-group-input" type="text" name="type" id="type-input"
         [(ngModel)]="newCard.type"
         #type="ngModel"
         [ngClass]="{invalid: (type.invalid && (type.dirty || type.touched)) && (type.errors?.['required'] || type.errors?.['minlength'])}"
         minlength="3"
         maxlength="10"
         required>
    </div>
    <div class="form__form-group">
        <label for="color">Color:</label>
        <input class="form__form-group-input" type="text" name="color" id="color-input"
         [(ngModel)]="newCard.color"
         #color="ngModel"
         [ngClass]="{invalid: (color.invalid && (color.dirty || color.touched)) && (color.errors?.['required'] || color.errors?.['minlength'])}"
         minlength="3"
         maxlength="10"
         required>
    </div>
    <div class="form__form-group">
        <label for="age">Age:</label>
        <input class="form__form-group-input" type="text" name="age" id="age-input"
         [(ngModel)]="newCard.age"
         #age="ngModel"
         [ngClass]="{invalid: (age.invalid && (age.dirty || age.touched)) && (age.errors?.['required'] || age.errors?.['minlength'])}"
         minlength="1"
         maxlength="2"
         required>
    </div>
    <div class="form__form-group">
        <label for="breed">Breed:</label>
        <input class="form__form-group-input" type="text" name="breed" id="breed-input" 
         [(ngModel)]="newCard.breed"
         #breed="ngModel"
         [ngClass]="{invalid: (breed.invalid && (breed.dirty || breed.touched)) && (breed.errors?.['required'] || breed.errors?.['minlength'])}"
         minlength="2"
         maxlength="20"
         required>
    </div>
    <div class="form__form-group">
        <label for="gender">Gender:</label>
        <input class="form__form-group-input" type="text" name="gender" id="gender-input"
         [(ngModel)]="newCard.gender"
         #gender="ngModel"
         [ngClass]="{invalid: (gender.invalid && (gender.dirty || gender.touched)) && (gender.errors?.['required'] || gender.errors?.['minlength'])}"
         minlength="4"
         maxlength="6"
         required>
    </div>
    <button (click)="postAnimalDetails()"
     id="send-button"
     class="form__btn"
     type="submit"
     [disabled]='name.invalid || type.invalid || color.invalid || age.invalid || gender.invalid || breed.invalid'>Save information</button>
</form>