body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    background-color: white;
}

main {
    padding: 20vh 10vw;
}

input {
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: 20px;
}

button {
    width: 60px;
    height: 20px;
}

.weather {
    display: flex;
    gap: 30px;
}