* {
    padding: 0;
    margin: 0;
}

main {
    padding: 20vh 20vw;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: cadetblue;
}

.table {
    background-color: white;
    border: 4px solid black;
    border-collapse: collapse;
}

thead {
    background-color: #FFB273
}

.table td, .table th {
    width: 8vw;
    height: 7vh;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
}

.table__edit, .table__delete, .table__add {
    cursor: pointer;
}

.active {
    background-color: cornflowerblue;
}