.info {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.info h4 {
    font-size: 45px;
    margin-bottom: 15px;
    text-align: center;
}
.card {
    font-size: 26px;
    padding: 10px;
    border: none;
    width: 300px;
}
.card p {
    text-align: left;
    margin-bottom: 10px;

}