<main>
    <h1>Animal search!</h1>
    <div class="container">
        <div *ngFor="let iterCard of cards">
                <app-animal-list 
                [card]="iterCard">
                </app-animal-list>
        </div>
        <button id="cats-button" (click)="toggleCards()" [ngClass]="{removeCats:toggle, openCats:!toggle}">{{toggle && 'Remove the cats' || 'Return the cats'}}</button>
        <div class="newAnimal">
            <button id="create-animal" (click)="openForm()"  class="newAnimal__addAnimal">Add new animal</button>
            <app-form *ngIf="isOpenForm"></app-form>
        </div>
    </div>
</main>
