.catsbtn {
    position: absolute;
    left: 45px;
    top: -60px;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

h1 {
    text-align: center;
    padding: 40px 0 150px 0;
}

.container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.removeCats {
    .catsbtn;
    background: linear-gradient(45deg, #4479D4, #B365D4, #E065BB);
}

.openCats {
    .catsbtn;
    background: linear-gradient(45deg, #E065BB, #B365D4, #4479D4,);
}

.btn:hover {
    transform: scale(1.1);
}

.newAnimal {
    position: absolute;
    text-align: center;
    width: 360px;
    right: 0px;
    top: -60px;

    &__addAnimal {
        font-size: 16px;
        padding: 15px;
        border: none;
        border-radius: 20px;
        text-align: center;
        background: linear-gradient(45deg, #4479D4, #B365D4, #E065BB);
        margin-bottom: 20px;
    }

    &:hover {
        transform: scale(1.1);
    }
}
